%div.group1
 %div.group1__info sample
 %div.group1__info-context Good bye world!!
%div.group2
 %div.group2__info aaaaaグループ
 %div.group2__info-context まだメッセージがない
%div.group3
 %div.group3__info sampleグループ
 %div.group3__info-context まだメッセージがない
