  .group1
   .group1__info sample
   .group1__info-context Good bye world!!
  .group2
   .group2__info aaaaaグループ
   .group2__info-context まだメッセージがない
  .group3
   .group3__info sampleグループ
   .group3__info-context まだメッセージがない
