 .group {
  display: block;
  margin-bottom: 40px;
  &__info {
  color: white;
  font-size: 15px;
  }
  &__info-context {
  color: white;
  margin-top: 5px;
  font-size: 11px;
  }
}
.group2 {
  display: block;
  margin-bottom: 40px;
  &__info {
  color: white;
  font-size: 15px;
  }
  &__info-context {
  color: white;
  margin-top: 5px;
  font-size: 11px;
  }
}
  .group3 {
    display: block;
    margin-bottom: 40px;
    &__info {
    color: white;
    font-size: 15px;
    }
    &__info-context {
    color: white;
    margin-top: 5px;
    font-size: 11px;
  }
}
