.sideBar {
  display: block;
  background-color: #2f3e51;
  width: 350px;
  height: 800px;
  padding-left: 20px;
  padding-right: 20px;
  &__header {
    height: 100px;
    background-color:253141;
  }
  &__header-info {
    color: white;
    font-size: 20px Bold;
    float: left;
    width: 100px;
    padding-top: 35px;
    height: 30px;
  }
}

i.fa.fa-edit {
  display: inline;
  float: right;
  margin-top: 10px;
  padding-top: 30px;
}
i.fa.fa-cog {
  display: inline;
  float: right;
  margin-top: 10px;
  padding-top: 30px;
}



